html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.btn,
h1,
h2,
h3 {
  font-family: 'Big Shoulders Display', sans-serif;
}

h1 {
  font-weight: 900;
}

.btn {
  font-weight: 800;
}

.dark {
  background-color: black;
}

ul {
  list-style: none;
}

ul > li {
  margin: 0.5em;
}

a {
  text-decoration: none;
  color: #2e2e2e;
}

.dark a {
  color: #e2e2e2;
}

a:hover {
  text-decoration: underline;
}

a:hover,
.btn:hover {
  opacity: 0.75;
}

a:active,
.btn:active {
  opacity: 0.3;
}

.btn {
  border-width: 3px;
}

.icon {
  width: 30px;
  height: 30px;
  fill: #2e2e2e;
}

.dark .icon {
  fill: #e2e2e2;
}

.hero-title {
  font-size: 4rem;
}

.husam {
  color: #0B6FF4;
}

.hero-btn {
  font-size: 2rem;
  border: 3px solid #0B6FF4;
  color: #0B6FF4;
}

.dark .hero {
  color: #e2e2e2;
}

@media (max-width: 1200px) {
  .hero-title {
    font-size: 2.75rem;
  }

  .hero-btn {
    font-size: 1.75rem;
  }
}

@media (max-width: 767px) {
  .nav-menu {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    left: 0;
    text-align: center;
    background-color: #e2e2e2;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  .dark .nav-menu {
    background-color: #2e2e2e;
  }
  .logo {
    height: 50px;
  }
}